.containers {
    text-align: center;
    padding: 50px 20px;
}

.containers h2 {
    font-weight: normal;
    letter-spacing: .125rem;
    text-transform: uppercase;
}

.containers li {
    display: inline-block;
    font-size: 1.5em;
    list-style-type: none;
    padding: 1em;
    text-transform: uppercase;
}

.containers li span {
    display: block;
    font-size: 4.5rem;
}

#content {
    display: none;
    padding: 1rem;
}

.emoji {
    padding: 0 .25rem;
}

@media all and (max-width: 768px) {
    .containers h2 {
        font-size: 1.5rem;
    }
    .containers li {
        font-size: 1.125rem;
        padding: .75rem;
    }
    .containers li span {
        font-size: 3.375rem;
    }
}